@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #621402;
  font-family: var(--font-family);
  color: white;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1170px;
  margin: auto;
  width: 90%;
}
.header {
  padding-bottom: 60px;
  background:
    linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
    url(../image/bg.png) no-repeat center top / cover;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav {
  position: relative;
}
.menu {
  max-width: 425px;
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 47px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition:
    opacity 0.5s,
    transform 0.5s;
}

.menu-item {
  margin-right: 20px;
}
.menu-link {
  color: white;
  text-decoration: none;
}

.user {
  color: white;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50px;
  width: 33px;
  height: 33px;
  margin-left: 11px;
}

.film {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.film-title {
  font-weight: 700;
  font-size: 36px;
  margin-top: 11px;
  margin-bottom: 23px;
}
.film-title-small {
  opacity: 0.5;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}
.film-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 560px;
}

.film-trailer {
  margin: auto;
}

.film-details {
  margin-top: 52px;
  display: flex;
  align-items: center;
}
.time {
  display: flex;
  align-items: center;
  margin-right: 34px;
}
.time-icon,
.rating-icon {
  margin-right: 14px;
}

.rating-current {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}
.rating {
  display: flex;
  align-items: center;
}

.session {
  margin-top: 62px;
  padding-top: 46px;
  padding-bottom: 63px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.session-label {
  display: block;
  margin-bottom: 20px;
}
.session-date-block {
  display: flex;
}

.session-date-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  width: 90px;
  height: 90px;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: background-color 0.2s;
  cursor: pointer;
  &:hover {
    background-color: #fe8e05;
    color: #621402;
  }
}

.session-month {
  font-size: 16px;
  line-height: 19px;
}
.session-day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}

.session-week {
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
}

.select-sinema {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 470px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  padding: 18px;
}

.option {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}

.select-time {
  width: 108px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 108px;
  height: 60px;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  padding: 10px;
}

.select-sinema,
.select-time {
  margin-top: 20px;
}

.scheme {
  margin-top: 63px;
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
  margin-bottom: 40px;
}
.scheme-svg {
  max-width: 1170px;
  min-height: 600px;
}
.scheme path:not(.light) {
  fill: rgba(255, 255, 255, 0.2);
  &:hover {
    cursor: pointer;
    fill: rgba(255, 255, 255, 0.5);
  }
}

.scheme path.booked {
  fill: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
  &:hover {
    fill: rgba(255, 255, 255, 0.05);
    cursor: not-allowed;
  }
}

.legeng {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 22px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  max-width: 1024px;
  width: 90%;
}

.legent-label {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.5);
}

.scheme path.active {
  fill: #fe8e05;
  cursor: pointer;
  &:hover {
    fill: #fe8e05;
    cursor: pointer;
  }
}

.legend-active {
  color: #fe8e05;
}

.legeng svg {
  margin-right: 15px;
}

.price {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-label {
  display: block;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 12px;
}

.price-tag:not(.price-label) {
  font-weight: 400;
  font-size: 52px;
}

.button {
  display: block;
  border-radius: 5px;
  padding: 24px 52px;
  background: #fe8e05;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .select-sinema {
    width: 100%;
  }
}
.m-menu {
  display: none;
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .menu-item {
    margin-right: 20px;
  }
  .session {
    flex-wrap: wrap;
  }
  .session-date {
    flex-basis: 70%;
    margin-bottom: 40px;
  }
  .select-time {
    order: 2;
  }

  .session-cinema {
    order: 3;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .menu {
    position: absolute;
    top: 40px;
    left: 0;
    padding: 20px;
    margin-right: 20px;
    z-index: 9;
    border-radius: 10px;
    flex-direction: column;
    background-color: #621402;
  }
  .menu-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .m-menu {
    display: block;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
  }
  .film-description {
    margin-right: 30px;
  }
  .film {
    flex-direction: column;
  }
  .film-trailer {
    margin-right: auto;
    margin-left: 0;
    margin-top: 40px;
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
